/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// Font: Google font 
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
  background-color: rgba(29, 29, 29, 1);;
  color: white;
  h1{
    margin: 1rem 0;
    font-size: 36px;
    text-align: center;
  }
  h2{
    margin: 1rem 0;
    font-size: 24px;
    text-align: center;
  }

  p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  span{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
}

.background-color-black-c16a25{
  background-color: rgba(16, 16, 16, 0.25);
}

.background-color-black-c16a50{
  background-color: rgba(16, 16, 16, 0.5);
}

.background-color-black-c29a100{
  background-color: rgba(29, 29, 29, 1);
}

.background-color-black-c37a50{
  background-color: rgba(37, 37, 37, 0.5);
}

.background-color-black-c60a10{
  background-color: rgba(60, 60, 60, 0.1);
}

.background-color-pagination-yellow{
  background-color: rgba(231, 224, 139, 1);
}


.card_single {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: rgb(60, 60, 60, 10%);
  h1{
    background-color: rgb(26, 26, 26);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
  }

  img {
    border-radius: 10px;
    width:80% ;
    margin-right: auto;
    margin-left:auto;
    padding: 1rem;
  }

}

.div-content{
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: rgb(60, 60, 60, 10%);
  .title{
    background-color: rgb(26, 26, 26);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
  }
  .not-content{
    text-transform: uppercase;
    padding: 2rem;
    text-align: center;
  }

  .pagination{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
    margin-top: 3rem;
    li{
      list-style: none;
    }
  }

}

.admin-container{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  background-color: rgb(37,37,37,50%) ;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;

  p{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
  }
  ul{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
  }
  span{
    font-weight: bolder;
    text-transform: uppercase;
  }
}


.div-form{
  background-color: rgb(31, 41, 55) ;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 1rem;
  .form-admin{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background-color: rgb(55, 65, 81);
    border-radius: 10px;
    padding: 1rem;

    .form-contain{
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 0.5rem;
      width: 100%;
      margin-right: auto;
      margin-left: auto;

      fieldset{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
      }
    }

    .form-grid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
      text-align: start;
    }


    textarea{
      color: black;
      width: 100%;
      padding: 0.5rem;
      border-radius: 10px;
    }
    input,select{
      color: black;
      padding: 0.5rem;
      border-radius: 10px;
    }
    select{
      width: 100%;
    }
  }
}

.name{
  width: 50%;
}

.table-admin{
  width: 100%;
  padding: 1rem;
  text-align: center;
  thead{
    tr{
      background-color: rgb(44, 52, 65);
    }
  }

  tbody{
    tr:nth-child(odd){
      background-color: rgb(25, 33, 44);
    }
    tr:nth-child(even){
      background-color: rgb(44, 52, 65);
    }
  }


}


input::placeholder,textarea::placeholder{
  color: black;
}

textarea{
  color:black;
}

input{
  color:black;
}

.pagination{
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 1rem;
  padding: 1rem;
  li{
    list-style: none;
  }
}
option,select{
  color: black;
}

.input-admin{
  width: 100%;
}
